#!/bin/sh
service apache2 restart
cat /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem > /etc/ssl/private/pure-ftpd.pem
service pure-ftpd-mysql force-reload
service dovecot reload
service postfix reload
service nginx reload
